{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Start a New Topic
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li> <!--pk=1,2,3,.. equals to django, python, random,...-->
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate> <!--post is for changing data on server-->
    <!--add novalidate to disable browser auto pre-validation-->
        {% csrf_token %} <!--cross site request forgery for security-->

        <!--we can use form.as_p but its design can't be customized-->
        {% include 'includes/form.html' %}

        <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock %}